@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
/* green navbar */
#search-bar{
    float: right;
    padding: 6px;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
  }
#search-btn{
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
}
.selfie{
    
    width: 200px;
    height: 200px;
}
.image-container{
    align-content: center;
    margin-top: 20px;
    margin-left: 100px;
    padding-left: 6px;

}

.heading{
   text-align: center;
   padding:2.5rem 0;
   margin-top: 60px;
 }
 
 .heading span{
    font-family: 'Courier New', Courier, monospace;
   font-size: 3rem;
   background:linear-gradient(to right,#4ece35,#06ff51);
   color:var(--green);
   border-radius: .5rem;
   padding:.2rem 1rem;
 }
 .heading span.space{
   background:none;
 }
