@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
.logo-img{
  float: left;
  position: relative;
  margin: 10px 2px 15px 10px;
}
.bg-div{
 overflow: hidden;
}
.logo{
  
    color: rgb(38, 39, 37);
    font-weight: bolder;
    font-size: 36px;
    font-family: 'Poppins', sans-serif;
    line-height: 70px;
 }
 .navbar{
  -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;

 }
 .navbold{
     font-style: italic;
 }
nav ul {
    float: right;
 }
 nav ul li{
    display: inline-block;
    line-height: 70px;
    margin:0 10px;
 }
 nav ul li a{
  font-family: 'Poppins', sans-serif;
    color: rgb(6, 51, 5);
    font-size:19px  ;
    font-weight: bolder;
  
 }
 nav a:hover{
    display: block;
    color: rgba(60, 189, 38, 0.89);
 }
 nav ul li a:before
{
  content: '';
  position: absolute;
  top: 50px;
  left: 100;
  width: 50px;
  height: 5px;
  background: rgba(101, 185, 22, 0.733);
  animation-name: nav;
  animation-duration: 2s;
  transition: 1s;
}
@keyframes nav {
  from {width: 0px;}
  to { width: 50px;}
}

/* Home styling */
.HomeBanner{
   height: 500px;
   font-family: Okra,Helvetica,sans-serif;
   background-image: url(../images/p4.jpg);
   background-position: center center;
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-size: cover;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   background-color: #464646;
}
.HomeBanner h2 { 
  background: rgba(255, 255, 255, 0.199);
  box-shadow: 0 5px 25px rgb(1 1 1 / 5%);
   font-size: 40px;
   position: absolute; 
   color: white;
   top: 140px; 
   left: 30px; 
}
.HomeBanner h6 { 
  background: rgba(255, 255, 255, 0.199);
  box-shadow: 0 5px 25px rgb(1 1 1 / 5%);
   font-size: 20px;
    position: absolute; 
   color: white;
   top: 200px; 
   left: 30px; 
}
.button {
  display: inline-block;
  position: absolute; 
   cursor: pointer;
   padding: 8px 15px;
   font-size: 12px;
  font-weight:600;
  border-radius: 50px;
  font-family: 'Open Sans', sans-serif;
  background:rgb(96, 194, 72) ;
  color: rgb(253, 253, 253);
   text-align: center;
   top: 250px; 
   left: 40px; 
 }
 .button:hover{
    background-color: white;
    border: 2px solid #54b228;
    color: black;
 }
 .head-info p{
  display: block;
  margin:0 auto;
  width: 1000px;
  height: 100px;
   font-size: 1rem;
   line-height: 2.4rem;
 }
 #features ul {
   background-color: rgb(250, 250, 250);
   box-shadow: 0 5px 25px rgb(1 1 1 / 51%);
   width: 1300px;
   border-radius: 12px;
   margin:0 auto;
   padding :50px 50px ;
   font-family: 'Oswald', sans-serif;
}
#features ul li {
   list-style: none;
   width: 300px;
   padding-top: 140px;
   float: left;
   margin-left: 80px;
   text-align: center;
}
#features ul li a{
  font-size: 12px;
  font-weight:600;
  border-radius: 5px;
  padding: 4px;
    font-family: 'Open Sans', sans-serif;
  background:rgb(247, 248, 248) ;
  border: 2px solid #54b228;
  color: rgb(17, 17, 17);
}
#features ul li a:hover{
  border: none;
  background:rgb(17, 195, 97) ;
  color: white;
}
#features ul li p{
  margin-bottom: 20px;
   color: gray;
}
#features ul li.feature-1 {
   background: url('../images/volunteer.png') no-repeat top center;
   background-size: 45%;

}
#features ul li.feature-2 {
   background: url('../images/giving.png') no-repeat top center;
   background-size: 45%;
 
}
#features ul li.feature-3 {
   background: url('../images/box.png') no-repeat top center;
   background-size: 45%;

}
.clear {
   clear: both;
}
/* home */

.heading{
   text-align: center;
   padding:2.5rem 0;
   margin-top: 60px;
 }
 
 .heading span{
    font-family: 'Courier New', Courier, monospace;
   font-size: 3rem;
   background:linear-gradient(to right,#4ece35,#06ff51);
   color:var(--green);
   border-radius: .5rem;
   padding:.2rem 1rem;
 }
 .heading span.space{
   background:none;
 }
 /*gallery*/
 .slider{
   position: relative;
   background:chartreuse;
   width: 500px;
   min-height:300px;
   margin: 20px;
   overflow: hidden;
   margin: 0 auto;
   border-radius: 10px;
 }
 .slide{
   position: absolute;
   width: 100%;
   height: 100%;
 }
 .slider .slide img{
   position:absolute;
   width: 100%;
   height: 100%;
   object-fit: cover;
 }
 .slider .slide .info{
  font-family: 'Poppins', sans-serif;
   position:absolute;
   color: rgb(7, 7, 7);
   width: 55%;
   padding:20px 20px 20px 20px;
   border-radius: 5px;
   background: rgba(255, 255, 255, 0.199);
   box-shadow: 0 5px 25px rgb(1 1 1 / 5%);
 }
.slider .slide .info h2{
  font-size: 2em;
  font-weight: 800;
}
.slider .slide .info p{
  font-size: 1em;
  font-weight: 800;
}
.slide-img {
  display:none;
}
 /* contact section */
 .contact .row{
   display: flex;
   flex-wrap: wrap;
   gap:1.5rem;
   align-items: center;
 }

 .contact .row .image{
   flex:1 1 30rem;
 }
 
 .contact .row .image img{
   width:100%;
 }
 
 .contact .row form{
   flex:1 1 18rem;
 
   padding:1rem;
   box-shadow: 0 0 20px 9px #4cc71c42;
   border-radius: .5rem;
  
 }
 
 .contact .row form .inputBox{
  
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
 }
 .contact .btn{
   display: inline-block;
   color:rgb(238, 237, 237);
   background-color: #46c741;
   border-style: none;
   border-radius: 10px;
   padding:.3rem 1rem;
   cursor: pointer;
   margin-left:200px;
   font-size: 1.3rem;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   font-weight: bold;
 }
 .contact .btn:hover{
  background-color: #f6f6f6;
  color:#46c741;
}
 .contact .row form .inputBox input, .contact .row form textarea{
   width:49%;
   margin:1rem 0;
   padding:.7rem;
   font-size: 1rem;
   border-style: none;
   color:#333;
   background:#f7f7f7;
   text-transform: none;
 }
 
 .contact .row form textarea{
   height: 15rem;
   resize: none;
   width:100%;
 }
 
 .brand-container{
   text-align: center;
 }
 footer{
   position:relative;
   width: 100%;
   height: auto;
   padding: 50px 100px;
   background: #333;
   display: flex;
   font-family: 'Poppins', sans-serif;
   justify-content: space-between;
 }
 footer .footer-main{
   margin:0 auto;
   display: flex;
 }
 footer .footer-about{
 width: 40%;
  }
footer .footer-main h2{
  position: relative;
  color: #fff;
  margin-bottom: 15px;
}
footer .footer-main h2:before
{
  content: '';
  position: absolute;
  bottom:-5px;
  left: 0;
  width: 50px;
  height: 2px;
  background: #f00;
}
footer p{
  color: #999;
}
.sci{
margin-top: 20px;
display: flex;
}
.sci li{
  list-style: none;
}
.sci li a{
  display: inline-block;
  width: 40px;
  height: 40px;
  background-color: #222;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  text-decoration: none;
  border-radius: 10px;
}
.sci li a:hover{
  background-color: #f00;
}
.sci li a .fa{
  color: #fff;
  font-size: 20p;
}
.quickLinks{
  position: relative;
  width: 30%;
}
.quickLinks ul li{
list-style: none;
}
.quickLinks ul li a{
  color: #999;
  text-decoration: none;
  margin-bottom: 10px;
  display: inline-block;
}
.quickLinks ul li a:hover{
  color: #fff;
}
.sec-contact .info li{
  list-style: none;
  margin:10px;
}
.sec-contact span{
  color:#999;
}
 .foot-lower{
  background-color: rgb(41, 15, 15);
  display: flex;
  color: #f7f7f7;
  justify-content: space-between;
  text-align: center;
  margin-left: 100px;
  margin-right: 100px;
}
.copyrightText{
  width: 100%;
  background:#181818;
  padding: 8px 100px;
  text-align: center;
  color: #999 ;
}
 @media screen and (max-width: 600px) {
     /* navbar*/
     .logo-img{
       width: 30px;
       height: 30px;
      margin: 10px 2px 10px 10px;
    }
    .bg-div{
     overflow: hidden;
    }
     .logo{
        font-size: 20px;
        font-family: 'Oswald', sans-serif;
        line-height: 50px;
     }
    nav ul li a{
        font-size: 12px;
 }
 nav ul li{
    line-height: 10px;
    margin:0 10px;
    margin-bottom: 10px;
 }
    nav ul{
      float: none;
        text-align: center;
        transition: all .5s;
    }
nav ul li a:before
{
  top: 69px;
  width: 40px;
  height: 4px;
}
@keyframes nav {
  from {width: 0px;}
  to { width: 40px;}
}
.HomeBanner{
  height: 300px;
  background-size: 800px 600px;
}
.HomeBanner h2 { 
 font-size: 21px;
 top: 130px; 
 left: 20px; 
}
.HomeBanner h6 { 
   font-size: 13px;
   top: 170px; 
   left: 20px; 
}
.button {
   padding: 5px 8px;
   font-size: 13px;
   top: 230px; 
   left: 20px; 
 }
.heading{
  padding: 1rem 0;
  margin-top: 10px;
}
.heading span{
  font-size: 2rem;
  font-weight: bolder;
  padding:.1rem .3rem;
 }
#features ul {
 width: 300px;
 height: 1000px;
 margin-top: 0;
  padding :25px 25px ;
}
#features ul li {
  font-size: small;
  padding-bottom: 30px;
  width: 250px;
  padding-top: 100px;
  margin:0 auto;
}
.slider{
  width: 350px;
}
.slider .slide .info{
  width: 35%;
  padding:20px 20px 20px 20px;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.199);
  box-shadow: 0 5px 25px rgb(1 1 1 / 5%);
}
.slider .slide .info h2{
 font-size: 1em;
 font-weight: 600;
}
.slider .slide .info p{
 font-size: 0.5em;
 font-weight: 400;
}
.contact .row .image img{
   width:70%;
  margin-left: 50px;
 }
 
.contact .row form{
   padding:.7rem;
 }
 
.contact .btn{
   padding:.3rem 1rem;
   cursor: pointer;
   margin-left:100px;
   font-size: 1rem;
 }
.contact .row form .inputBox input, .contact .row form textarea{
   width:49%;
   margin:1rem 0;
   padding:.2rem;
   font-size: 1rem;
   color:#333;
   background:#f7f7f7;
   text-transform: none;
 }
.contact .row form textarea{
   height: 10rem;
   margin-left: 20px;
   width:90%;
 }
 footer{
   padding: 20px;
 }
 footer .footer-main{
  font-size: 12px;
   }
 footer .footer-main h2{
font-size: 17px;
 }
 footer .footer-main h2:before
{
  left: auto;
  width: 60px;
}
.sci{
margin-left: 65px;
  }
.quickLinks ul li a{
    margin-bottom: 5px;
  }
 footer .footer-main{
 text-align: center;
   flex-direction: column;
 }
 footer .footer-main .quickLinks{
  width: 100%;
 }
 footer .footer-main .footer-about{
width: 100%;
 }
 .copyrightText{
  width: 100%;
  font-size: 12px;
  padding: 10px;
}
}