
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
.logo{
    margin-left: 15px;
    color: rgb(166, 221, 39);
    font-size: 36px;
    font-family: 'Oswald', sans-serif;
    line-height: 70px;
 }
 .navbar{
     background-color: black;
 }
 .navbold{
     font-style: italic;
 }
nav ul {
    float: right;
 }
 nav ul li{
    display: inline-block;
    line-height: 70px;
    margin:0 10px;
 }
 nav ul li a{
     font-family: 'Oswald', sans-serif;
    color: rgb(216, 200, 200);
    font-size:19px  ;
  
 }
 nav a:hover{
    display: block;
    color: rgba(153, 250, 158, 0.705);
 }
 @media screen and (max-width: 600px) {
     /* navbar*/
     .logo{
        font-size: 20px;
        font-family: 'Oswald', sans-serif;
        line-height: 70px;
     }
    nav ul li a{
        color: blanchedalmond;
        font-size: 12px;
 }
 nav ul li{
    line-height: 10px;
    margin:0 10px;
    margin-bottom: 10px;
 }
    nav ul{
      float: none;
        text-align: center;
        transition: all .5s;
    }
 }