@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
.logo-img{
  float: left;
  position: relative;
  margin: 10px 2px 15px 10px;
}
.bg-div{
 overflow: hidden;
}
.logo{
  
    color: rgb(38, 39, 37);
    font-weight: bolder;
    font-size: 36px;
    font-family: 'Poppins', sans-serif;
    line-height: 70px;
 }
 .navbar{
  -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;

 }
 .navbold{
     font-style: italic;
 }
nav ul {
    float: right;
 }
 nav ul li{
    display: inline-block;
    line-height: 70px;
    margin:0 10px;
 }
 nav ul li a{
  font-family: 'Poppins', sans-serif;
    color: rgb(6, 51, 5);
    font-size:19px  ;
    font-weight: bolder;
  
 }
 nav a:hover{
    display: block;
    color: rgba(60, 189, 38, 0.89);
    
 }
/* Home styling */
.HomeBanner{
   height: 500px;
   font-family: Okra,Helvetica,sans-serif;
   background-image: url(../images/home.jpg);
   background-position: center center;
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-size: cover;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  
   background-color: #464646;
}
.HomeBanner h2 { 
   font-size: 40px;
   position: absolute; 
   color: white;
   top: 140px; 
   left: 30px; 
}
.HomeBanner h6 { 
   font-size: 20px;
    position: absolute; 
   color: white;
   top: 200px; 
   left: 30px; 
}
.button {
   background-color: #46c741;
   cursor: pointer;
   color: rgb(255, 253, 253);
   padding: 10px 25px;
   text-align: center;
   display: inline-block;
   font-size: 20px;
   font-weight: bolder;
   position: absolute; 
   border: none;
   border-radius: 10px;
   top: 250px; 
   left: 40px; 
 }
 .button:hover{
    background-color: white;
    color: black;
 }
 #features ul {
   background-color: rgb(233, 224, 224);
   border-radius: 12px;
   margin: 30px 0;
   padding :50px 50px ;
   font-family: 'Oswald', sans-serif;
}
#features ul li {
   list-style: none;
   width: 300px;
   padding-top: 140px;
   float: left;
   margin-left: 80px;
   text-align: center;
}
#features ul li p{
   color: gray;
}
#features ul li.feature-1 {
   background: url('../images/volunteer.png') no-repeat top center;
   background-size: 45%;

}
#features ul li.feature-2 {
   background: url('../images/giving.png') no-repeat top center;
   background-size: 45%;
 
}
#features ul li.feature-3 {
   background: url('../images/box.png') no-repeat top center;
   background-size: 45%;

}
.clear {
   clear: both;
}
/* home */

.heading{
   text-align: center;
   padding:2.5rem 0;
   margin-top: 60px;
 }
 
 .heading span{
    font-family: 'Courier New', Courier, monospace;
   font-size: 3rem;
   background:linear-gradient(to right,#4ece35,#06ff51);
   color:var(--green);
   border-radius: .5rem;
   padding:.2rem 1rem;
 }
 .heading span.space{
   background:none;
 }
 /*gallery*/
 .slider{
   position: relative;
   background:chartreuse;
   width: 500px;
   min-height:300px;
   margin: 20px;
   overflow: hidden;
   margin: 0 auto;
   border-radius: 10px;
 }
 .slide{
   position: absolute;
   width: 100%;
   height: 100%;
 }
 .slider .slide img{
   position:absolute;
   width: 100%;
   height: 100%;
   object-fit: cover;
 }
 .slider .slide .info{
  font-family: 'Poppins', sans-serif;
   position:absolute;
   color: rgb(7, 7, 7);
   width: 55%;
   padding:20px 20px 20px 20px;
   border-radius: 5px;
   background: rgba(255, 255, 255, 0.199);
   box-shadow: 0 5px 25px rgb(1 1 1 / 5%);
 }
.slider .slide .info h2{
  font-size: 2em;
  font-weight: 800;
}
.slider .slide .info p{
  font-size: 1em;
  font-weight: 800;
}
.slide-img {
  display:none;
}
 /* contact section */
 .contact .row{
   display: flex;
   flex-wrap: wrap;
   gap:1.5rem;
   align-items: center;
 }

 .contact .row .image{
   flex:1 1 30rem;
 }
 
 .contact .row .image img{
   width:100%;
 }
 
 .contact .row form{
   flex:1 1 18rem;
   padding:1rem;
   box-shadow: 0 1rem 2rem rgba(0,0,0,.1);
   border-radius: .5rem;
 }
 
 .contact .row form .inputBox{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
 }
 .contact .btn{
   display: inline-block;
   color:rgb(190, 63, 63);
   padding:.3rem 1rem;
   cursor: pointer;
   margin-left:200px;
   font-size: 1rem;
 }
 .contact .row form .inputBox input, .contact .row form textarea{
   width:49%;
   margin:1rem 0;
   padding:.7rem;
   font-size: 1rem;
   color:#333;
   background:#f7f7f7;
   text-transform: none;
 }
 
 .contact .row form textarea{
   height: 15rem;
   resize: none;
   width:100%;
 }
 
 .brand-container{
   text-align: center;
 }
 
 @media screen and (max-width: 600px) {
     /* navbar*/
     .logo-img{
       width: 30px;
       height: 30px;
      margin: 10px 2px 10px 10px;
    }
    .bg-div{
     overflow: hidden;
    }
     .logo{
        font-size: 20px;
        font-family: 'Oswald', sans-serif;
        line-height: 50px;
     }
    nav ul li a{
        font-size: 12px;
 }
 nav ul li{
    line-height: 10px;
    margin:0 10px;
    margin-bottom: 10px;
 }
    nav ul{
      float: none;
        text-align: center;
        transition: all .5s;
    }
    .HomeBanner{
      height: 300px;
      background-image: url(../images/home2.jpg);
 }
 .HomeBanner h2 { 
   font-size: 21px;
   top: 130px; 
   left: 20px; 
}
.HomeBanner h6 { 
   font-size: 13px;
   top: 170px; 
   left: 20px; 
}
.button {
   padding: 5px 8px;
   font-size: 18px;
   top: 230px; 
   left: 20px; 
 }
 .heading{
    padding: 1rem 0;
    margin-top: 10px;
 }
 .heading span{
   font-size: 2rem;
   font-weight: bolder;
   padding:.1rem .3rem;
 }
 #features ul {
   margin-top: 0;
  padding :25px 25px ;
}
#features ul li {
  font-size: small;
  padding-bottom: 30px;
  width: 200px;
  padding-top: 100px;
  margin-left: 50px;
}
.slider{
  width: 350px;
}
.slider .slide .info{
  width: 35%;
  padding:20px 20px 20px 20px;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.199);
  box-shadow: 0 5px 25px rgb(1 1 1 / 5%);
}
.slider .slide .info h2{
 font-size: 1em;
 font-weight: 600;
}
.slider .slide .info p{
 font-size: 0.5em;
 font-weight: 400;
}
 .contact .row .image img{
   width:70%;
  margin-left: 50px;
 }
 
 .contact .row form{
   padding:.7rem;
 }
 
 .contact .btn{
   padding:.3rem 1rem;
   cursor: pointer;
   margin-left:100px;
   font-size: 1rem;
 }
 .contact .row form .inputBox input, .contact .row form textarea{
   width:49%;
   margin:1rem 0;
   padding:.2rem;
   font-size: 1rem;
   color:#333;
   background:#f7f7f7;
   text-transform: none;
 }
 
 .contact .row form textarea{
   height: 10rem;
   margin-left: 20px;
   width:90%;
 }
 
}